*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A6CBE3;
}

#container{
    display: grid;
    grid-template-areas: 'A B';
    grid-template-columns: max-content max-content;
    place-content: center;
    height: 100vh;
}

.product{
    grid-area: A;
}
.image{
    display: flex;
}


.description{
    grid-area: B;
    background-color: white;
    width: 550px;
    height: 500x;
    padding: 40px;
}

.textlogo{
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #8F8D8D;
}

.prodname{
    margin-top: 30px;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size:31px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.infoprod{
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 18px;
    margin-top: 35px;
    font-size: 12px;
    width: 382px;
}

.prodprice{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    font-family: 'Mulish', sans-serif;
}

.price1{
    font-size: 24px;
    color: #EA9969;
    font-weight:800;
}

.price2{
    font-size: 13px;
    color: #EA9969;
    text-decoration: line-through;
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.bottom{
    width: 213px;
    height: 51px;
    background-color: #e17d44;
    position: absolute;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
}

.bottom:hover{
    background-color:#EA9969;
    cursor: pointer;
}

.icon img{
    width: 30px;
    height: 30px;
}

.textbottom{
    color:#ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
}


@media (max-width: 520px){
    
    #container{
        display: grid;
        grid-template-areas:
        'A'
        'B';
        grid-template-columns: max-content max-content;
        place-content: center;
        height: 100vh;
    }

    .product{
        grid-area: A;
    }

    .image{
        display: flex;
        justify-content: center;
    }

    .description{
        grid-area: B;
        background-color: white;
        width: 515px;
        height: 550px;
        padding: 40px;
    }

    
.textlogo{
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #8F8D8D;
    display: flex;
    justify-content: center;
}

.prodname{
    margin-top: 30px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:31px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.infoprod{
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 18px;
    margin-top: 50px;
    font-size: 12px;
    width: 450px;
}

.prodprice{
    display: grid;
    margin-top: 15px;
    font-family: 'Mulish', sans-serif;
    grid-template-columns: 
    'A'
    'B';
    place-content: center;
    justify-items: center;
   
}

.price1{
    grid-area: A;
    font-size: 24px;
    color: #EA9969;
    font-weight:800;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.price2{
    grid-area: B;
    font-size: 13px;
    color: #EA9969;
    text-decoration: line-through;
    align-items: center;
    margin-top: 60px;
}


.bottom{
    width: 213px;
    height: 51px;
    background-color: #e17d44;
    position: absolute;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
}

.bottom:hover{
    background-color:#EA9969;
    cursor: pointer;
}

.icon img{
    width: 30px;
    height: 30px;
}

.textbottom{
    color:#ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
}
}